services:
  rails-dev:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        UID: ${UID}
        GID: ${GID}
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true
