h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headings-color);
  font-family: var(--heading-font);
  font-weight: var(--headings-weight);
  line-height: 1.2;
  text-transform: var(--headings-transform);
  margin-top: 2rem;
}

h1 {
  margin-top: 0;
}

.hero-title {
  color: var(--headings-color);
}

.hero-title a {
  color: inherit;
  text-decoration: none;
}
:root {
  --navbar-height: 6rem;
  --entry-width: 62ch;
  --hero-height: 40vh;
  --body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --heading-font: var(--body-font);
  --logo-font: var(--body-font);
  --menu-font: var(--body-font);
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --headings-weight: 700;
  --headings-transform: none;
  --line-height: 1.7;
  --hero-bg: #000;
  --hero-text-color: #fff;
  --hero-border-color: rgba(255, 255, 255, 0.3);
  --hero-overlay: rgba(0, 0, 0, 0.8);
  --side-nav-width: 300px;
  --side-nav-bg: #000;
  --side-nav-link: #9d9d9d;
  --side-nav-link-hover: #fff;
  --logo-color: #fff;
  --white: #fff;
  --black: #000;
  --dark: #262626;
  --gray-1: #5c5c5c;
  --gray-2: #9d9d9d;
  --light: #d5d5d5;
  --lighter: #f3f3f3;
  --color: #d73a42;
  --color-rgb: 215, 58, 66;
  --text-color: #17181e;
  --headings-color: #262626;
}

html {
  font-size: 1rem;
  font-family: var(--body-font);
  background: var(--white);
  color: var(--text-color);
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100%;
  background: var(--white);
  color: var(--text-color);
  font-family: var(--body-font);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height);
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

#app {
  min-height: 100vh;
}

@media (min-width: 992px) {
  body {
    height: 100vh;
    overflow: hidden;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: var(--color);
  text-decoration: none;
  transition: all 0.12s linear;
}

a:hover {
  color: var(--color);
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headings-color);
  font-family: var(--heading-font);
  font-weight: var(--headings-weight);
  line-height: 1.2;
  text-transform: var(--headings-transform);
  margin-top: 2rem;
}

h1 {
  margin-top: 0;
}

p {
  margin-top: 1.25rem;
}

